- cases = overview_p16_head
%tr.PAP_P16{:class => "%>", :style => "font-weight: bold; border: 1px"}
  %th{:style => "font-size: 0.9em; font-weight: bold; padding: 0.1em 0.5em; border: 0px"}
    P16
    %i{:style => "font-size: 0.8em; font-weight: normal;"}
      (#{cases.size})
  %th{:style => "text-align: right; font-weight: normal; padding: 0.1em 1em; border: 0px"}
    %i Geb.
  %th{:style => "text-align: right; font-weight: bold; border: 0px"}
  %th{:style => "text-align: right; font-weight: normal; padding: 0.1em 1em; border: 0px"}
    %i Entn.
  %th{:style => "text-align: right; font-weight: bold; border: 0px"}
