<% year = "%02.f" % (params[:year] || '08') %>
<div class="sheet_a4">
<div class="letter">

  <div id="doctor">
    <%=h @doctor.praxis.honorific_prefix %><br />
    <%= render :partial => "/vcards/show", :locals => {:vcard => @doctor.praxis} %>
  </div>

  <div id="date">
    Zürich, <%= Date.today.strftime("%d.%m.%Y") %>
  </div>

  <div id="subject" class="title">
    PAP Statistik
  </div>

<div id="text">
<%= render :partial => '/reports/report' %>
</div>
</div>
</div>
