<h2>Zweiteingabe</h2>
<p>
    <%= link_to image_tag('second_entry.png'), :controller => '/cyto/cases', :action => 'second_entry_queue' %>
    <i style="font-size: 13pt">Es gibt <b><%= @second_entry_count %></b> Zweiteingaben.</i>
</p>

