[submodule "vendor/plugins/form_builders"]
	path = vendor/plugins/form_builders
	url = git://github.com/rubaidh/form_builders.git
[submodule "vendor/plugins/auto_complete"]
	path = vendor/plugins/auto_complete
	url = https://github.com/david-kerins/auto_complete.git
[submodule "vendor/plugins/tiny_mce"]
	path = vendor/plugins/tiny_mce
	url = shuerlimann@project.client.zytolabor.ch:/srv/client.zytolabor.ch/code/git/rails-plugins/tiny_mce.git
