# Boring files
# ============
*~
.#*
_darcs
DEADJOE

# Rails
# =====
.bundle
db/*.sqlite3
db/*-schema?rb
log
tmp

# Vendor
vendor/cache
vendor/bundle

# Local
config/database.yml

# Passenger
# =========
tmp/restart.txt

# Rails Plugins
# =============
# tiny_mce plugin exclude
public/javascripts/tiny_mce

# hozr excludes
public/order_form
public/page

# label printing
public/trigger

# Sphinx Freetext Search
db/sphinx
config/*.sphinx.conf
config/sphinx/

# SwissMatch
config/swissmatch.yml

# Shared data
system/

# Carrierwave
uploads/

