- for column in FindingClass.content_columns
  %p
    %b
      = column.human_name
      \:
    = h @finding_class.send(column.name)
= link_to 'Edit', :action => 'edit', :id => @finding_class
|
\#{link_to 'Back', :action => 'list'}
