<h1>Pesonalien</h1>
<div style="float: left; width: 18em; height: 12em; background-color: #FFEB55; margin: 8px; padding: 25px">
<div style="float: right; margin-right: 10px; margin-top: -10px">
</div>
<% @vcard = @employee.work_vcard %>
<%= render :partial => "vcards/show", :locals => { :vcard => @vcard } %><br/>
<div style="background-color: #f9d600; padding: 8px; width: 130px"/>
  <%= render :partial => "vcards/show_phone_numbers", :locals => { :vcard => @vcard } %>
</div>
<div style="float: right; margin-top: -30px; margin-right: 10px">
  <%= link_to image_tag("show.png"), :action => :show, :id => @employee %>
  <%= link_to image_tag("edit.png"), :action => :edit, :id => @employee %>
</div>
</div>
