= error_messages_for 'examination_method'
/ [form:examination_method]
%p
  %label{:for => "examination_method_name"} Name
  %br/
  = text_field 'examination_method', 'name'
/ [eoform:examination_method]
