<h1>Editing examination_method</h1>

<% form_tag :action => 'update', :id => @examination_method  do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @examination_method %> |
<%= link_to 'Back', :action => 'list' %>
