<h1>Fanpostliste zum Faxen</h1>

<style>
.listing tr.group_footer td {
  border: 0px none;
  border-top: 1px solid;
  border-bottom: 3px double;
}

.listing tr.group_body td {
  border: 0px none;
}

.listing tr.group_body {
  border: 0px none;
}

</style>

<table class="listing">
<% 
  old_doctor_id = nil
  case_count = 0
  doctor_count = 0
%>
<% for delievery_return in @delievery_returns %>
<% 
  # group header 'doctor_id'
  cyto_case = delievery_return.cyto_case
  doctor_id = cyto_case.doctor_id
  is_header = !(doctor_id == old_doctor_id)
  is_first_header = old_doctor_id.nil?
  
  case_count += 1
  doctor_count += 1 if is_header

  doctor = Doctor.find(doctor_id)
  patient = cyto_case.patient
%>

  <% if is_header %>
    <tr class="group_header">
      <th style="width: 12em"><%=h doctor.name %></td>
      <th/>
    </tr>
  <% end %>
  <tr>
    <td/>
    <td><%= render :partial => '/patients/compact', :object => cyto_case.patient, :locals => {:remarks => false} %></td>
  </tr>

<% 
  old_doctor_id = doctor_id
  case_count = 0 if is_header
  doctor_count = 0 if is_header
%>

<% end %>
