<h1>Fanpost - Adressen überprüfen</h1>
<% @cases = @delievery_returns.map {|dr| dr.cyto_case} %>

<table class="listing">
<% for cyto_case in @cases %>
  <tr>
    <%= render :partial => '/patients/compact', :object => cyto_case.patient, :locals => {:remarks => false } %>
  </tr>
<% end %>
</table>
