<h2>Freigegebenen Mailings</h2>
<%= link_to "Freigegebene Resultate drucken", print_all_send_queues_path, :method => :post, :remote => true %><br/>
<%= link_to "Versand History", :controller => :send_queues %><br/>

<%= render 'list' %>
