%table.table.table-striped.people.collection
  %thead
    %tr
      %th= t_attr :full_name, Person
      %th= t_model Address
      %th= t_model PhoneNumber
      %th

  %tbody
    = render collection
