%tr[person]
  %td= link_to person.to_s, person, {'data-href-container' => 'tr'}
  %td= address(person.vcard, ', ')
  %td
    - person.vcard.contacts.each do |contact|
      %p= contact.to_s(': ', :label)
  %td
