<%= error_messages_for 'finding_class' %>

<!--[form:finding_class]-->
<p><label for="finding_class_name">Name</label><br/>
<%= text_area 'finding_class', 'name'  %></p>

<p><label for="finding_class_code">Code</label><br/>
<%= text_area 'finding_class', 'code'  %></p>
<!--[eoform:finding_class]-->

