<div class="full_name">
  <%= in_place_editor_field :vcard, :given_name %> <%= in_place_editor_field :vcard, :family_name %>
</div>
<div class="address">
  <%= in_place_editor_field :vcard, :street_address %><br/>
  <%= in_place_editor_field :vcard, :postal_code  %> <%= in_place_editor_field :vcard, :locality %>
</div>
