<div class="full_name">
  <%=h @vcard.given_name %> <%= @vcard.family_name %>
</div>
<div class="address">
  <%=h @vcard.street_address %><br/>
  <%=h @vcard.postal_code  %> <%= @vcard.locality %>
</div>
