<h1>Administration</h1>
<ul>
  <li><%= link_to "Klassifikationen", :controller => 'cyto/classifications' %></li>
  <li><%= link_to "Befunde", :controller => 'cyto/finding_classes' %></li>
  <li><%= link_to "Mitarbeiter", :controller => 'employees' %></li>
</ul>