<h1>Patienten Personalien Export Status</h1>
<% for export in Praxistar::Exports.find(:all, :conditions => "model = 'Praxistar::PatientenPersonalien' AND finished_at IS NULL") %>
  <p>
    Gestartet um: <%=h export.started_at %><br/>
    Anzahl: <%=h export.record_count %><br/>
    Mutiert: <%=h export.update_count %><br/>
    Neu angelegt: <%=h export.create_count %><br/>
  </p>
<% end %>
<%= button_to "Neu laden", :action => :praxistar_patienten_personalien_export_status %>
