<h1>Patienten exportiert</h1>

Gestarted: <%= @export.started_at %><br />
Beendet: <%= @export.finished_at %><br />
Erzeugt: <%= @export.create_count %><br />
Modifiziert: <%= @export.update_count %><br />
Fehlerhaft: <%= @export.error_count %><br />
