<%= error_messages_for 'case' %>

<!--[form:case]-->
<p><label for="case_examination_date">Examination date</label><br/>
<%= date_select 'case', 'examination_date'  %></p>

<p><label for="case_praxistar_eingangsnr">Praxistar eingangsnr</label><br/>
<%= text_field 'case', 'praxistar_eingangsnr'  %></p>
<!--[eoform:case]-->

