<%= link_to "Ersteingabe", :controller => '/cyto/cases', :action => 'first_entry', :id => params[:id] %>
<%= link_to "Zweiteingabe", :controller => '/cyto/cases', :action => 'second_entry_pap_form', :id => params[:id] %>
<%= link_to "Resultat", :controller => '/cyto/cases', :action => 'result_report', :id => params[:id] %>
<%= link_to image_tag('print.png', :title => 'Drucke Resultat'), :controller => '/cyto/cases', :action => :print_result_report, :id => params[:id] %>
