<h1>Untersuche</h1>

<%= start_form_tag :action=> :search %>
  Eingangsnr: <%= text_field 'case_search', 'praxistar_eingangsnr' %>
  Arzt: <%= select_doctors :object => 'case_search' %> <%= submit_tag 'Suchen', :style => "display: inline" %>
<% end %>

<%= render :partial => '/cyto/cases/list' %>
<br />

<%= link_to 'New case', :action => 'new' %>
