<%= error_messages_for 'classification' %>

<!--[form:classification]-->
<p><label for="classification_name">Name</label><br/>
<%= text_area 'classification', 'name'  %></p>

<p><label for="classification_color">Color</label><br/>
<%= text_field 'classification', 'color'  %></p>
<!--[eoform:classification]-->

