.PAP_1 {color:black; background-color: white; }
.PAP_2 {color:black; background-color: white; }
.PAP_2a {color: black; background-color: yellow; }
.PAP_2-3a {color: black; background-color: yellow; }
.PAP_3l {color: black; background-color: #0066FF; }
.PAP_3m {color: black; background-color: #0066FF; }
.PAP_3s {color: black; background-color: #0066FF; }
.PAP_4 {color: black; background-color: red; }
.PAP_5 {color: black; background-color: red; }
.PAP_hpv {color: black; background-color: #00CC00; }
.PAP_mam {color: black; background-color: #00CC00; }
.PAP_sput {color: black; background-color: #00CC00; }
