%fieldset{:style => "width: 100%; font-size: 80%; line-height: 1.3em; margin-top: 10px"}
  %legend Fall
  %dl
    = render :partial => 'cases/compact', :object => case_info_frame
    = render :partial => 'cases/case_info', :object => case_info_frame
