- quality_findings = @case.classification.code == '1' ? ['a', 'b'] : ['a', 'b', 'c']
#quality_findings.row-fluid
  - for finding_class_code in quality_findings
    - finding_class = FindingClass.find_by_code(finding_class_code)
    .span3= link_to_add_finding_class(@case, finding_class)

#top_findings.row-fluid
  - for finding_class in TopFindingClass.find_all_by_classification_id(@case.classification_id)
    .span3= link_to_add_finding_class(@case, finding_class.finding_class)

= form_tag add_finding_case_path(@case), :remote => true, :id => "finding_classes", :after => "$('finding_class_selection').value = ''; $('finding_class_code').value = ''; $('finding_class_code').focus() " do
  %label{:for => "case_praxistar_eingangsnr"} Text/Code:
  = autocomplete_field_tag 'finding_class[selection]', '', autocomplete_finding_class_code_cases_path, :size => 12
