%fieldset{:style => "width: 100%; margin-top: 10px"}
  = render :partial => 'cases/case_info', :object => @case
  = render 'patients/info', :patient => @case.patient unless @case.patient.nil?

= render 'cases/compact_list', :cases => @case.patient.cases unless @case.patient.nil?
