%tr
  %th Erfasst am
  %th Eingangsnr
  %th Klassifikation
  %th Diagnose
  %th Patient
  %th Arzt
  %th Zytologin
  - if current_tenant.settings['modules.p16']
    %th P16
    %th HPV
  %th Status
  - if @include_bill
    %th Rechnung
  %th Aktion
