<%= paginated_section @cases, :params => {:query => params[:order]} do %>
  <%= loading_indicator_tag :id => 'search' %>
  <table class="listing">
    <%= render 'list_header' %>
    <%= render :partial => 'item', :collection => @cases %>
  </table>
<% end %>
