<% if @case.finding_text.nil? %>
  <% for finding in @case.findings %>
   <div><%=h finding.name %></div>
  <% end %>
<% else %>
  <%= @case.finding_text.html_safe %>
<% end %>

<%= button_to_function 'Edit', remote_function( :update => 'finding_list', :url => { :action => 'edit_finding_text', :id => @case }) %>
