<table class="table table-bordered table-striped table-condensed">
  <%= render :partial => 'cases/overview_head', :object => overview_group %>
  <%= render :partial => 'cases/overview_item', :collection => overview_group %>
</table>
