= simple_form_for '', :url => case_patients_path(@case), :method => :get, :remote => true, :class => 'form-inline' do |f|
  = icon_link_to :new_patient, new_case_patient_path(@case), :remote => true, :icon => 'plus', :style => 'float: right'
  = f.input 'query', :label => false, :placeholder => 'Name, Eingangsnummer, Geburtsdatum, Strasse...', :input_html => {:class => 'span10', 'data-autofocus' => true, 'data-table-selection' => '#patients'}

#patients
