.row-fluid
  .row-fluid
    .span12.well.well-small
      .span7
        = link_to image_tag(inline_order_form_url(@case.order_form, :type => :result_remarks)), order_form_path(@case.order_form), :remote => true
      .span5
        = link_to image_tag(inline_order_form_url(@case.order_form, :type => :head)), order_form_path(@case.order_form), :remote => true

- ClassificationGroup.all.each do |classification_group|
  .row-fluid
    - classification_group.classifications.pluck(:code).uniq.each do |code|
      .span3= classification_button(code)

- content_for :sidebar do
  = render 'info'
