.alert.alert-block.alert-info
  %p
    Dies ist eine demo Installation. Mit folgenden Daten können sie sich als Administrator anmelden:
  %p
    <b>Benützer:</b> <i>admin</i>
  %p
    <b>Passwort:</b> <i>admin1234</i>
