<% form_tag( :controller => 'bills', :action => "show_treatment_reason" ) do %>
<fieldset style="width: 98%">
  <legend>Suche nach Rechnungsnr.</legend>
  <table>
    <% fields_for 'bill', @bill, :builder => Rubaidh::TabularForm::TabularFormBuilder do |f| %>
      <%= f.text_field :id, :label => "Rechnungsnr." %>
    <% end %>
  </table>
  <%= submit_tag "Suchen" %>
</fieldset>
<% end %>
