<h1>Rechnungen</h1>

<script type="text/javascript">
  Event.observe(window, 'load', function() {$('bill_id').focus()}, false);
</script>

<%= form_remote_tag( :update => 'search_result', :loading => "Element.show('#{loading_indicator_id({:id => 'search'})}')", :url => {:controller => 'bills', :action => "search"} ) %>
  <%= render :partial => 'search_form' %>
<% end %>

<div id="search_result">
  <%= render :partial => 'list' %>
</div>

