.modal
  = modal_header t_action(:send_fax)

  .modal-body{:style => 'height: 150px'}
    = render 'form_fields'

  .modal-footer
    = link_to t_action(:send_fax), '#', :class => 'btn submit-button'
    = link_to t_action(:cancel), '#', :class => 'btn', 'data-dismiss' => 'modal'
