= boot_alert(t('flash.action.dunning_stop'), 'error') if resource.dunning_stop?

= simple_form_for resource do |f|
  = render 'form_fields', :f => f

  .row-fluid
    .form-actions
      = f.button :submit
