<ul class="full_names">
<% for patient in @patients do %>
  <li class="contact">
    <div class="id" style="display:none"><%= patient.id %></div>
    <div class="full_name" style="font-weight:bold"><%=h "#{patient.vcard.given_name} #{patient.vcard.family_name}" %></div>
    <div class="address" style="font-size:smaller">
      <%=h "#{patient.vcard.street_address}" %><br />
      <%=h "#{patient.vcard.locality}" %><br />
      <%=h "#{patient.birth_date}" %>
    </div>
  </li>
<% end %>
</ul>
