<%= paginated_section @patients, :params => {:query => params[:query]} do %>
<div id="search_result">
  <table class="table table-bordered table-striped table-condensed">
    <tr>
      <th />
      <th>Nachname</th>
      <th>Vorname</th>
      <th>Strasse</th>
      <th>PLZ</th>
      <th>Ort</th>
      <th>Geburtsdatum</th>
      <th>Arzt</th>
      <th>PatientenNr.</th>
      <th>Versicherung</th>
      <th>VersicherungsNr.</th>
    </tr>
    
    <%= render @patients %>
  </table>
</div>
<%- end %>
