<h1>Editing patient</h1>

<%= render :partial => 'edit' %>

<%= link_to 'Show', :action => 'show', :id => @patient %> |
<%= link_to 'Back', :action => 'list' %>
<%= link_to 'Rechnungen', :controller => 'bills', :action => 'search_by_patient', :id => @patient %>
