<h1><%= number_with_delimiter(@patients.total_entries) %> Patienten</h1>

<div id="edit_form">
</div>

<%= paginated_section @patients, :params => {:query => params[:query]} do %>
  <%= render :partial => 'patients/list' %>
<%- end %>
