<h1>Patienten</h1>

<div id="search_form">
  <%= render :partial => 'search_form' %>
</div>

<div id="edit_form">
</div>

<%= render :partial => 'list' %>

<br />

<%= link_to 'New patient', :action => 'new' %>
