<h1>PAP Zettel mit Arztadressen beschriften</h1>
<%= form_tag(print_order_form_path) do %>
<table>
  <tr>
    <th>Arzt</th>
    <td><%= select 'order_form', 'doctor_id', doctors_collection %></td>
  </tr>
  <tr>
    <th>Anzahl</th>
    <td><%= text_field 'order_form', 'count' %></td>
  </tr>
</table>
<%= submit_tag 'Drucken' %>
<% end %>
