<h1>Tages Scans</h1>

<table>
<% for order_form in @order_forms %>
  <tr>
    <td>
      <%= image_tag url_for_image_column(order_form, "file", :overview), :size => "500px" unless order_form.file.nil?%>
    </td>
  </tr>
<% end %>
</table>
