<h1>New pap_order_form</h1>

<%= start_form_tag( {:action => 'create'}, { :multipart => true }) %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
