<% doctor = compact %>

<%= render :partial => "vcards/show", :locals => { :vcard => doctor.praxis } %><br/>
<%= render :partial => "vcards/show_phone_numbers", :locals => { :vcard => doctor.praxis } %>
