<%= error_messages_for 'doctor' %>

<!--[form:doctor]-->
<fieldset>
  <legend>
    <%= link_to_function "Praxis", "show('vcard_vcard')" %>
  </legend>
  <table id="vcard_vcard">
    <%= render :partial => 'vcards/form', :locals => { :vcard_name => 'vcard', :vcard => @vcard } %>
  </table>
</fieldset>
<!--[eoform:doctor]-->

