<%= @doctor.vcard.given_name  %> <%= @doctor.vcard.family_name  %><br/>
<%= @doctor.vcard.street_address  %><br/>
<%= @doctor.vcard.postal_code  %> <%= @doctor.vcard.locality %><br/>

<%= link_to 'Edit', :action => 'edit', :id => @doctor %> |
<%= link_to 'Back', :action => 'list' %>
