<%= error_messages_for 'order_form' %>

<!--[form:pap_order_form]-->
<p><label for="order_form_file">File</label><br/>
<%= file_column_field "order_form", "file" %></p>
<!--[eoform:pap_order_form]-->

