%tr[order_form]
  %td= link_to order_form.created_at, order_form, 'data-href-container' => 'tr'
  %td= link_to order_form.case, order_form.case if order_form.case
  %td.action-links= list_link_for :delete, order_form, :remote => true
