<% for column in OrderForm.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @order_form.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @order_form %> |
<%= link_to 'Back', :action => 'list' %>
