/* Slidepath */
#MainContent .slidepath_links a {
  color: #165BDB;
}

/* Contextual */
.contextual {
  margin-top: 17px
}

/* Forms */
.well h3 {
  margin-bottom: 18px;
}

label.input-important {
  font-weight: bold;
}

.form-horizontal .control-group {
  margin-bottom: 8px;
}

/* Table selection */
tr.selected {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
}

/* Fake display: none without loosing functionality */
.row-fluid.hide {
  visibility: hidden;
  height:     0;
  margin:     0;
  padding:    0;
}


/* Case List */
dd {
  margin-bottom: 8px;
  margin-top:    2px;
}

/* Order Form modal */
#order_form {
  width: 80%;
  margin-left: -40%;
  margin-top: 0;
  top: 5%;
}

#order_form .modal-body {
  min-height: 600px;
}
