/* Slidepath */
#MainContent .slidepath_links a {
  color: #165BDB;
}

/* Contextual */
.contextual {
  margin-top: 17px
}

/* Forms */
label.input-important {
  font-weight: bold;
}

.form-horizontal .control-group {
  margin-bottom: 8px;
}
