/* Navbar */

.navbar-search .search-query {
  padding: 6.5px 14px;
}

/* Slidepath */
#MainContent .slidepath_links a {
  color: #165BDB;
}

/* Contextual */
.contextual {
  margin-top: 17px
}

/* Wells */
.well > legend {
  position: relative;
  top: -10px;
  left: -10px;
  padding: 0px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  border: 1px solid #DDD;
  color: #9DA0A4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
  width: 50%;
  margin-bottom: 0px;
}

/* Forms */
label.input-important {
  font-weight: bold;
}

.form-horizontal .control-group {
  margin-bottom: 8px;
}

/* Table selection */
tbody tr.marked td, .table-striped tbody tr.marked td {
  background-color: #F2DEDE;
  border-color: #EED3D7;
}

tbody tr.selected td, .table-striped tbody tr.selected td {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  font-weight:  bold;
  font-size:    120%;
}

/* Patient list */
#patients th {
  &.family_name       { width: 12% }
  &.given_name        { width: 12% }
  &.street_address    { width: 12% }
  &.locality          { width: 10% }
  &.birth_date        { width: 6% }
  &.doctor            { width: 10% }
  &.doctor_patient_nr { width: 5% }
  &.insurance         { width: 12% }
  &.billing_address   { width: 3% }
  &.actions           { width: 5% }
}

.patient-remarks {
  white-space: normal;
  font-size:   120%;
}

/* Fake display: none without loosing functionality */
.hidden-actions {
  visibility: hidden;
  height:     0;
  margin:     0;
  padding:    0;
}


/* Case List */
dd {
  margin-bottom: 8px;
  margin-top:    2px;
}

/* Order Form modal */
#order_form {
  width: 80%;
  margin-left: -40%;
  margin-top: 0;
  top: 5%;
}

#order_form .modal-body {
  min-height: 600px;
}
