/* User Bar */
#right-menu {
 font-size: 0.9em;
 margin: 0.2em;
 margin-right: 0.5em;
 float:right;
}

#user-bar-greeting, #user-bar-action { display:inline; }
#user-bar-greeting a, #user-bar-action a {
  color: #444;
}

/* Slidepath */
#MainContent .slidepath_links a {
  color: #165BDB;
}

/* Forms */
.form-horizontal .control-group {
  margin-bottom: 8px;
}
