<% columns = @columns || @records[0].attributes.keys || [] %>

<%= loading_indicator_tag :id => 'search' %>
<table class="listing">
  <tr>
  <% for column in columns %>
    <%= sort_header column %>
  <% end %>
  </tr>

<% for record in @records %>
  <tr>
  <% for column in columns %>
    <td><%=h record.instance_variable_get('@attributes')[column] %></td>
  <% end %>
  </tr>
<% end %>
</table>
