<%= error_messages_for 'classification_tarmed_leistungen' %>

<!--[form:classification_tarmed_leistungen]-->

<%= hidden_field "classification_tarmed_leistungen", "classification_id" %>

<p><label for="classification_tarmed_leistungen">Tarmed Code</label><br/>
<%= text_field_with_auto_complete "classification_tarmed_leistungen", "tarmed_leistung_id" %>

<p><label for="classification_tarmed_leistungen_position">Position</label><br/>
<%= text_field 'classification_tarmed_leistungen', 'position' %></p>

<p><label for="classification_tarmed_leistungen_parent_id">Parent</label><br/>
<%= text_field_with_auto_complete "classification_tarmed_leistungen", "parent_id" %>
<!--[eoform:classification_tarmed_leistungen]-->

