<%= error_messages_for 'classification_tarmed_leistungen' %>

<!--[form:classification_tarmed_leistungen]-->
<%= select("classification_tarmed_leistungen", "classification_id", Classification.find_all.collect {|p| [ "#{p.code} - #{p.name} (#{p.examination_method.name})", p.id ] }) %>
  
<%= text_field "classification_tarmed_leistungen", "tarmed_leistung_id" %>

<p><label for="classification_tarmed_leistungen_position">Position</label><br/>
<%= text_field 'classification_tarmed_leistungen', 'position'  %></p>

<p><label for="classification_tarmed_leistungen_parent">Parent</label><br/>
<%= text_field 'classification_tarmed_leistungen', 'parent'  %></p>
<!--[eoform:classification_tarmed_leistungen]-->

