<h1>Editing classification_tarmed_leistungen</h1>

<%= start_form_tag :action => 'update', :id => @classification_tarmed_leistungen %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @classification_tarmed_leistungen %> |
<%= link_to 'Back', :action => 'list' %>
