<h1>Editing classification_tarmed_leistungen</h1>

<%= start_form_tag :action => 'update_classification' %>
  <!--[form:top_finding_class]-->
  <%= select("classification_tarmed_leistungen", "classification_id", Classification.find(:all).collect {|p| [ "#{p.code} - #{p.name} (#{p.examination_method.name})", p.id ] }) %>
  <%= text_field "classification_tarmed_leistungen", "tarmed_leistungen" %>
  <!--[eoform:top_finding_class]-->

  <%= submit_tag 'Edit' %>
<%= end_form_tag %>
